.carousel-item img{
    height: 360px;
}
.btn {
    padding: 5px 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.red-btn {
    background: #ed1b24;
    border: 2px solid #ed1b24;
    color: #fff;
}

.red-btn:hover{
    background: #1c376c;
    color: #fff;
    border-color: #ffffff;
}