
 #header{
  position: sticky;
  top: 0;
  z-index: 998;
 }
  .navbox{
      display: flex;
      justify-content: space-around;
      background-color: white;
      width: 100%;
      height: 80px;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      margin-bottom: 5px;
      transition: all 0.5s ease;
      
       }
       .sticky{
        /* background-image: linear-gradient( to top, #5c5c5c, #110f0f  ); */
        background-color: #f87b27;
        color:white;
        transition: all 1s ease;
       }
  #header #logo img{
    height: 63px;
    width: 175px;
    }
 .navitems{
     display: flex;
     list-style: none;
     /* border: 1px solid blue; */
     justify-content: space-around;
     margin-top: 30 px;

 }
 .navbox .menu-btn i{
     font-size: 38px;
     display: none;
     color: #107d4d;
     cursor: pointer;
     transition: all 0.2s ease-in;
 }
 .nav-responsive img{
    width: 14vw;
    height: 8vh;
 }
 .navitems li {
    margin: 5px;
    
}
 .navitems li a{
     text-decoration: none;
     font-size: 18px;
     padding: 0px 3px;
     color: #0e7e4d;
     font-weight: 600;
     transition:all 0.4s ease;
 }

.navitems li a:hover,
.navitems li a:active,
.navitems li a:focus {
  color: #f87b27;
  outline: none;
  text-decoration: none;
  transition:all 0.4s ease;
}
.sticky li a:hover {
  color: white;
  outline: none;
  text-decoration: none;
  transition:all 0.4s ease;
}
.sticky .dropdown-menu a:hover, .sticky .dropdown-menu a:active{
  color: #f87b27;
  outline: none;
  text-decoration: none;
  transition:all 0.4s ease;
}

#click{
    display: none;
}
@media (max-width: 850px)  {
    #click:checked ~ .menu-btn i:before{
  content: "\f00d";
    }
.navitems{
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-color: white;
    width: 100%;
    height: 60vh;
    left: -100%;
    transition: all 0.3s ease;
}
#click:checked ~ .navitems{
    left: 0%;
}
.navbox .menu-btn i{
    display: block;
}
}